@import "theme";

.table {
  font-size: 16px;

  thead {
    font-weight: 300;

    tr {
      height: 70px;

      th {
        padding: 0 25px;
        text-align: left;
        font-weight: 300;
        white-space: nowrap;
        cursor: pointer;

        &.up {
          img {
            transform: rotate(180deg);
          }
        }
      }
    }
  }

  tbody {
    tr {
      height: 70px;
      background-color: $table-row-light;

      &.dark {
        background-color: $primary-background-color;

      }

      &.total {
        td:not(:first-child) {
          color: $blue-color;
        }
      }

      td {
        padding: 0 25px;
        font-weight: 400;

        &:first-child {
          border-radius: 10px 0 0 10px;
        }

        &:last-child {
          border-radius: 0 10px 10px 0;
        }

        input {
          outline: none;
          border: none;
          background-color: transparent;
          font-size: 16px;
          margin: 0;
          padding: 0;
          width: 100%;

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            padding: 0;
          }
        }
      }
    }
  }
}