$black-color: #171D2C;
$white-color: #ffffff;
$dark-blue-color: #283047;
$dark-blue-color-1: #283147;
$blue-color: #287EFF;
$light-blue-color: rgba(40, 126, 255, 0.08);
$grey-color: rgba(231, 233, 234, 0.33);
$menu-grey-color: #657193;
$menu-border-color: rgba(40, 48, 71, 0.9);
$orange-color: #FF6B17;

$primary-background-color: #EFF1F2;
$border-color: rgba(30, 39, 47, 0.17);
$light-border-color: rgba(40, 48, 71, 0.12);

$placeholder-color: rgba(23, 29, 44, 0.27);
$grey-text-color: #79858A;

$table-row-light: rgba(239, 241, 242, 0.33);
